@font-face {
  font-family: "iran sans";
  src: url("./font/Sans\ a4fran3.eot");
  src: url("./font/Sans\ a4fran3.eot") format("embedded-opentype"),
    url("./font/Sans\ a4fran3.woff") format("woff"),
    url("./font/Sans\ a4fran3.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-display: auto;
}

:root {
  --color-primary: #0ea960;
  font-family: "iran sans";
  direction: rtl;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}
.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 87px;
}
.icon-button {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  min-width: 30px;
  height: 30px;
  color: #999;
  transition: background-color 0.3s;
}
.menu-bar {
  display: none;
}

.icon-button:hover {
  background-color: #f5f5f5;
}
.btn {
  padding: 0.25rem 0.75rem;
  border-radius: 4px;
  border: 0;
  outline: 0;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-transform: none;
  text-decoration: none;
  line-height: 2rem;
  font-size: 1rem;
}
.btn-primary {
  background-color: var(--color-primary);
  color: white;
}
.input-width-icon {
  border: 1px solid #f0f0f0;
  background: #f9f9f9;
  border-radius: 5px;
  padding-left: 2px;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.input-width-icon:hover {
  border: 1px solid #ddd;
  background: #fff;
}
.input-width-icon input {
  border: 0;
  outline: 0;
  padding: 10px 5px;
  font-size: 1rem;
  background-color: transparent;
  width: 100%;
}
.input-width-icon > svg {
  margin-right: 5px;
}
.accounts {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.menu__item {
  padding: 5px 15px;
}
.menu__item > a {
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 1024px) {
  .d-lg-none {
    display: none;
  }
  .accounts {
    flex-grow: 1;
  }
  .menu-bar {
    display: inline-flex;
  }
}
