/* Generals */

@font-face {
  font-family: "iran sans";
  src: url("../font/Sans\ a4fran3.eot");
  src: url("../font/Sans\ a4fran3.eot") format("embedded-opentype"),
    url("../font/Sans\ a4fran3.woff") format("woff"),
    url("../font/Sans\ a4fran3.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "YekanBakh";
  src: url("../font/YekanBakh-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "YekanBakh";
  src: url("../font/YekanBakh-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}
:root {
  --color-primary: #0ea960;
  --text-primary: #2a2a2a;
  --text-secondary: #8a8a8a;
  font-family: YekanBakh, "iran sans";
  direction: rtl;
  font-size: 62.5%;
  line-height: 1.5;
}
::placeholder {
  font-family: YekanBakh, "iran sans";
  font-size: 1.3rem;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 1.6rem;
  background-color: #fff;
}
a {
  text-decoration: none;
  color: unset;
}
a:visited {
  text-decoration: none;
  color: unset;
}
/* Containers */
.container {
  width: 100%;
  padding: 0;
  margin: 0 auto;
}
/* Mobile */
@media screen and (min-width: 640px) {
  .container {
    min-width: 600px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding: 1.6rem;
  }
}
/* Tablet */
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1000px;
  }
}
/* PC */

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}
/* full hd */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1360px;
  }
}

/* Navbar */
.navbar {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 2;
}
.navbar__logo {
  display: none;
}
.navbar__content {
  display: flex;
  height: 56px;
  padding: 0 8px;
  justify-content: center;
  align-items: center;
}
.navbar__search {
  margin-left: 8px;
}
.navbar__menu-bar {
  width: 39px;
  background-color: #fafafa;
  margin: 0 8px;
}
.navbar__menu-bar.icon-button {
  border-radius: 8px;
  background-color: #fafafa;
  margin-left: 8px;
  color: #232323;
}
.profile-icon {
  height: 36px;
  width: 36px;
  flex-shrink: 0;
}
.tab.menu {
  display: none;
}
.more-icon {
  display: none;
}
.navbar__btn.btn {
  display: none;
  color: #fff;
}
@media screen and (min-width: 375px) {
  .profile-icon {
    margin-left: 6px;
  }
}
@media screen and (min-width: 1024px) {
  .navbar__container {
    max-width: 1000px;
    padding: 0 1.6rem;
    margin: auto;
  }
  .navbar__btn.btn {
    display: inline-flex;
  }
  .navbar__content {
    height: 68px;
    padding: 0;
  }
  .more-icon {
    display: block;
    margin-right: 6px;
    background-color: #f5f5f5;
    border-radius: 5px;
  }
  .navbar__fill-gap {
    flex-grow: 1;
  }
  .navbar__logo {
    display: block;
    width: 87px;
    height: 42px;
    flex-shrink: 0;
  }
  .tab.menu {
    display: flex;
    flex-shrink: 0;
    margin-right: 20px;
    font-size: 1.6rem;
    overflow: unset;
  }
  .tab.menu .tab__item--select {
    color: unset;
  }
  .tab.menu .tab__item--select::after {
    bottom: -12px;
  }
  .navbar__menu-bar {
    display: none;
  }
  .navbar__search.input {
    max-width: 220px;
  }
}
@media screen and (min-width: 1200px) {
  .navbar {
    background-color: #fff;
    box-shadow: 0 2px 12px rgb(0 0 0 / 10%);
  }
  .navbar__container {
    max-width: 1100px;
  }
}
@media screen and (min-width: 1440px) {
  .navbar__container {
    max-width: 1360px;
  }
}
/* Tabs */
.tab {
  display: flex;
  font-size: 1.4rem;
  height: 44px;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0;
}
.tab__item {
  font-weight: 500;
  color: rgb(107, 107, 107);
  height: 100%;
  padding: 15px;
  position: relative;
  text-align: center;
  text-align: center;
  flex-grow: 1;
}
.tab__item--select {
  color: var(--color-primary);
}
.tab__item--select::after {
  background-color: var(--color-primary);
  border-radius: 6px;
  bottom: 0;
  content: "";
  display: inline-block;
  height: 5px;
  left: calc(50% - 18px);
  position: absolute;
  width: 36px;
}

@media screen and (min-width: 1024px) {
  .tab {
    display: none;
  }
}
/* main */

@media screen and (min-width: 768px) {
  body {
    background-color: #f9fafd;
  }
}
/* Button */
.btn {
  color: var(--text-primary);
  font-weight: 500;
  align-items: center;
  border-radius: 4px;
  border: 0;
  display: inline-flex;
  flex-direction: row;
  font-size: 1.3rem;
  justify-content: center;
  line-height: 1.5;
  outline: 0;
  padding: 0.8rem 1.9rem;
  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
}
.btn--primary {
  background-color: var(--color-primary);
  color: white;
}

.icon-button {
  outline: none;
  align-items: center;
  border-radius: 50%;
  color: #999;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.6rem;
  height: 3.6rem;
  justify-content: center;
  transition: background-color 0.3s;
  width: 3.6rem;
}
.icon-button:hover {
  background-color: #f5f5f5;
}
.icon-button:focus {
  outline: none;
}
/* Input */
.input {
  align-items: center;
  background: #f9f9f9;
  border-radius: 5px;
  border: 1px solid #f0f0f0;
  color: #000;
  display: flex;
  height: 3.7 rem;
  justify-content: space-between;
  padding-left: 2px;
  width: 100%;
}
.input:hover {
  border: 1px solid #ddd;
  background: #fff;
}
.input input {
  background-color: transparent;
  border: 0;
  font-size: 1rem;
  outline: 0;
  padding: 10px 5px;
  width: 100%;
}
.input > svg {
  margin-right: 5px;
}
.accounts {
  align-items: center;
  display: flex;
  gap: 10px;
}

.menu {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.menu__item {
  padding: 5px 15px;
}
.menu__item > a {
  text-decoration: none;
  color: var(--text-primary);
}
@media screen and (max-width: 1024px) {
  .d-lg-none {
    display: none;
  }
  .accounts {
    flex-grow: 1;
  }
  .menu-bar {
    display: inline-flex;
  }
}

/* BurgerMenu */
.BurgerMenu {
  background-color: white;
  left: 0;
  position: relative;
  right: 0;
  top: -43px;
  z-index: 2;
  min-height: calc(100vh - 100px);
  padding: 0 10px;
  transition: all ease 0.3s;
}

.BurgerMenu--hidden {
  min-height: 0;
  height: 0;
  overflow: hidden;
}

.BurgerMenu__logo {
  width: 87px;
}
.BurgerMenu__items {
  padding: 0;
  list-style: none;
}
.BurgerMenu__item {
  padding: 8px;
  margin-bottom: 4px;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.BurgerMenu__item .fas {
  color: var(--text-primary);
}
.BurgerMenu__item a {
  color: unset;
  text-decoration: none;
}
.BurgerMenu__item a:visited {
  color: unset;
  text-decoration: none;
}
.BurgerMenu__footer {
  bottom: 0;
  display: flex;
  font-size: 2rem;
  gap: 30px;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
}
@media screen and (min-width: 1024px) {
  .BurgerMenu {
    min-height: 0;
    height: 0;
    overflow: hidden;
  }
}

/* Apps */
.app {
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  max-width: calc(31vw - 2rem);
  text-decoration: none;
  width: calc(31vw - 2rem);
  padding: 8px;
  margin: 4px;
  border-radius: 8px;
  background-color: #fff;
}
.app:hover,
.app:focus {
  box-shadow: 0 4px 24px rgb(0 0 0 / 10%);
}
.app__image {
  width: 100%;
}
.app__image img {
  width: 100%;
  border-radius: 22px;
}
.app__title {
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: inherit;
}
.app__description {
  font-size: 1.2rem;
  margin-top: 5px;
  color: var(--text-secondary);
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  background-color: inherit;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .app {
    width: calc(16vw - 1rem);
    max-width: calc(16vw - 1rem);
  }
}
@media screen and (min-width: 1024px) {
  .app {
    width: 120px;
    max-width: 120px;
  }
}
/* Card */
.card {
  margin-bottom: 16px;
  background-color: #fff;
}
.card__body {
  overflow: hidden;
}
.card__body p {
  margin: 1.6rem;
  margin-bottom: 1.9rem;
}
.card__body h2 {
  margin: 1.6rem;
}
.card__header {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem 1.6rem;
  line-height: 1.2;
}

.card__title {
  font-weight: 500;
}
.card__action {
  color: var(--text-secondary);
}
.card__action::after {
  content: " >";
}
.card--hover {
  background-color: #fff;
  transition: box-shadow background-color 0.1s;
}
.card--hover:hover,
.card--hover:focus {
  box-shadow: 0 4px 24px rgb(0 0 0 / 10%);
  color: #2a2a2a;
  outline: none;
  z-index: 2;
}
.app-list {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .card {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  .card__header {
    margin-top: 4px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
/* banner */
.banner {
  margin: 8px 4px;
  width: 80vw;
  flex-shrink: 0;
}

.banner img {
  border-radius: 8px;
  width: 100%;
}
.banner img:hover {
  box-shadow: 0 4px 24px rgb(0 0 0 / 10%);
}
@media screen and (min-width: 768px) {
  .banner {
    width: 300px;
  }
}
@media screen and (min-width: 1024px) {
  .banner {
    width: 420px;
  }
}
/* utils */
.desktop_only {
  display: none;
}
.desktop_hidden {
  display: block;
}
.mobile_only {
  display: block;
}
@media screen and (min-width: 768px) {
  .mobile_only {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .desktop_only {
    display: block;
  }
  .desktop_hidden {
    display: none;
  }
}
/* Grid */

.grid3-2 {
  padding: 0.5rem 1.6rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(1, 1fr);
  grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

@media screen and (min-width: 768px) {
  .grid3-2 {
    padding: 1.6rem;
    gap: 1.6rem;
    -ms-grid-columns: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .grid3-2 {
    -ms-grid-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.category-item {
  justify-content: space-between;
  padding: 1.6rem;
  border-radius: 8px;
  margin: 0;
}
.category-item__body {
  display: flex;
  align-items: center;
}
.category-item__icon {
  margin-left: 4px;
}
.category-item__text {
  flex-grow: 1;
}
.collapsible {
  overflow: hidden;
  position: relative;
}
.collapsible__container {
  max-height: 300px;
}
.collapsible--expanded .collapsible__container {
  max-height: 200vh;
  max-height: -moz-fit-content;
  max-height: fit-content;
}
.collapsible--expanded .collapsible__expand {
  transform: rotate(180deg);
}
.collapsible__expand {
  transition: all ease 0.3s;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background: linear-gradient(
    180deg,
    rgba(249, 250, 253, 0) 40%,
    hsla(0, 0%, 100%, 0.7) 70%,
    #fff 100%
  );
  cursor: pointer;
}
